@{
    ViewBag.Title = "About Us";
}
<h2 style="color: #d34615">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<br/>
<p>Event Management system is online web application to organize and invite people for your event.</p>

<p>Create any type of events and invite other peopleto event.</p>
<p> <h3 style="color: #d34615">Events </h3></p>
<div class="row">
    <div class="col-md-4">
        <h4>Family Event</h4>
        <p>
            Organize different family event, Birthday party, Anniversary event, Wedding event etc. and invite your friends and relatives.
        </p>
        
    </div>
    <div class="col-md-4">
        <h4>Cultural Events</h4>
        <p>Invite people for any cultural event and celebrate Christmas, Eid, Diwali or any other festival with friends and relatives.</p>
        
    </div>
    <div class="col-md-4">
        <h4>Corporate Events</h4>
        <p>Arrange seminars, meetings or conferences and any event and invite poeple and colleagues through this Event Management Application. </p>
        
    </div>
</div>

<p> <h3 style="color: #d34615">Our Team </h3></p>
<div class="row">
    <div class="col-md-4">
        <h4>Riyaz Kugashiya</h4>
        <p>
            Project Leader
        </p>

    </div>
    <div class="col-md-4">
        <h4>Jasleen Kour</h4>
        <p>Web Designer</p>

    </div>
    <div class="col-md-4">
        <h4>Bibin Poulose</h4>
        <p>Web Developer</p>

    </div>
</div>