@{
    ViewBag.Title = "Contact";
}
<h2 style="color: #d34615">@ViewBag.Title</h2>
<h3 style="color: #d34615">Our Contact</h3>

<p><b>Name: </b>Riyaz Kugashiya (Project Leader)
    <br/><b>Email: </b> riyazkugashiya@gmail.com <br/><br/>
    <b>Name: </b> Jasleen Kour <br />
    <b>Email: </b> 338jasleen@gmail.com <br/> <br/>
    <b>Name: </b> Bibin Poulose
    <br /><b>Email: </b>bibinpoulose1@gmail.com   <br />
</p>