@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Pictures</h1>
    <p class="lead">put some pictures slides from Bootstrap.."Carousel".</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel item active">
                <img class="d-block w-100" width="1200" src="~/Content/Event1.jpg" alt="First slide">
                
            </div>
            <div class="carousel item">
                <img class="d-block w-100" width="1200" src="~/Content/slide5.jpg" alt="Second slide">
            </div>
            <div class="carousel item">
                <img class="d-block w-100" width="1200" src="~/Content/slide4.jpg" alt="Second slide">
            </div>
            <div class="carousel item">
                <img class="d-block w-100" width="1200" src="~/Content/Event2.jpg" alt="Second slide">
            </div>
            <div class="carousel item">
                <img class="d-block w-100" width="1200" src="~/Content/slide3.png" alt="Second slide">
            </div>
        
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Family Event</h2>
        <p>
            Organize different family event, Birthday party, Anniversary event, Wedding event etc. and invite your friends and relatives.  
        </p>
        <p><a class="btn btn-default" href="../Account/Register">Register</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cultural Events</h2>
        <p>Invite people for any cultural event and celebrate Christmas, Eid, Diwali or any other festival with friends and relatives.</p>
        <p><a class="btn btn-default" href="../Account/Login">Log In</a></p>
    </div>
    <div class="col-md-4">
        <h2>Corporate Events</h2>
        <p>Arrange seminars, meetings or conferences and any event and invite poeple and colleagues through this Event Management Application. </p>
        <p><a class="btn btn-default" href="../Account/Register">Register</a></p>
    </div>
</div>